@import "./common";
@import "./mixin";
@import "./element-ui";
@import "./screen";

* {
  margin: 0;
  padding: 0;
}

html,
body,
#app,
.wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

a {
  text-decoration: none;
}

/*滚动条样式美化*/
/*滚动条整体部分，其中的属性有width,height,background,border（就和一个块级元素一样）等。*/
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/*外层轨道。可以用display:none让其不显示，也可以添加背景图片，颜色改变显示效果。*/
::-webkit-scrollbar-track {
  background-color: rgba(153, 153, 153, 0.1);
  border-radius: 6px;
}

/*滚动条里面可以拖动的那部分*/
::-webkit-scrollbar-thumb {
  background-color: rgba(153, 153, 153, 0.3);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(153, 153, 153, 0.6);
}

::-webkit-scrollbar-thumb:active {
  background-color: rgba(153, 153, 153, 0.9);
}

/* 自定义样式调整 */

.el-table th {
  color: black;
  background-color: #fafafa;
}

.el-table td,
.el-table th {
  padding: 8px 0;
}

.el-dialog {
  margin: auto;
}

.el-dialog__body {
  box-sizing: border-box;
  padding: 10px 20px 0 20px !important;
  max-height: calc(70vh - 100px);
  overflow: auto;
}

.el-table th.el-table__cell {
  background-color: #fafafa;
}

.el-select {
  display: block;
}

.tree-option {
  height: 200px;
  overflow: auto;
  background-color: white !important;
  padding: 0;
  font-weight: normal !important;
}

.el-form-item__content>.el-input {
  width: 100%;
}

.el-form-item__content>.el-input-number {
  width: 100%;
}

.el-cascader__tags .el-tag {
  max-width: calc(100% - 60px);
}

.el-form-item .el-table {
  line-height: normal;
}

/* vue-treeselect 样式 */
.el-main {
  .vue-treeselect__multi-value-item {
    font-size: 14px;
  }

  .vue-treeselect__control {
    height: 40px;
    border: 1px solid #dcdfe6;
    border-radius: 4px;
  }

  .vue-treeselect__value-remove {
    height: 19px;
    line-height: 1.1;
  }

  .vue-treeselect__placeholder {
    line-height: 38px;
  }

  .vue-treeselect__single-value {
    line-height: 38px;
    color: #606266;
  }

  .vue-treeselect__menu {
    max-height: 250px !important;
  }

  .vue-treeselect__limit-tip {
    height: 30px;
    line-height: 22px;
  }

  .vue-treeselect span {
    max-width: 49px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

  }
}

/* vue-treeselect  mini样式 */
.size-mini {
  .vue-treeselect__control {
    height: 28px;
  }

  .vue-treeselect__placeholder {
    font-size: 12px;
    line-height: 28px;
  }

  .vue-treeselect__single-value {
    font-size: 12px;
    line-height: 26px;
  }

  .vue-treeselect__label-container {
    font-size: 14px;
  }

  .vue-treeselect__multi-value-item {
    padding: 0;
    border: 0;
    font-size: 12px;
  }

  .vue-treeselect__limit-tip {
    height: 22px;
    line-height: 1.2;
  }

  .vue-treeselect--has-value .vue-treeselect__multi-value {
    margin-bottom: 2px;
  }

  .vue-treeselect__multi-value-item-container,
  .vue-treeselect__limit-tip {
    padding-top: 3px;
  }
}

.vue-treeselect__portal-target {
  z-index: 9999 !important;
}

.title-label {
  display: inline-block;
  padding-right: 12px;
  line-height: 30px;
  text-align: right;
  box-sizing: border-box;
}

.fr {
  float: right;
}

.fl {
  float: left;
}

// 网段通道端口状态颜色样式
.port-status-list {
  padding: 3px 10px;
  font-size: 12px;
  border-radius: 3px;
  border: 1px solid #ebeef5;
}

.segment-list-box {

  // .color-conn {
  //   color: #fff;
  //   background-color: #339933;
  // }
  .color-main {
    color: #fff;
    background-color: #ffcc33;
  }

  .color-backup {
    color: #fff;
    background-color: #3399cc;
  }

  .color-occupy {
    color: #fff;
    background-color: #ff7f00;
  }

  .color-damage {
    color: #fff;
    background-color: #cc3333;
  }

  .color-handle {
    color: #fff;
    background-color: #bbb;
  }

  .hover-row {

    // .color-conn {
    //   color: #339933;
    // }
    .color-main {
      color: #ffcc33;
    }

    .color-backup {
      color: #3399cc;
    }

    .color-occupy {
      color: #ff7f00;
    }

    .color-damage {
      color: #cc3333;
    }

    .color-handle {
      color: #bbb;
    }
  }
}

// 链路割接页面样式
.page-cutover {

  .port-item {
    min-width: 100px;
    width: 80%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;

    &>span {
      width: 10px;
      flex: 1;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .port-circle {
      display: inline-block;
      width: 14px;
      height: 14px;
      background: #f5f5f5;
      border: 1px solid #eee;
      border-radius: 50%;
      box-sizing: border-box;
      cursor: pointer;

      &.active {
        box-shadow: 0px 0px 5px 1px #67c23a;
      }
    }
  }
}